.home--container {
  padding: 8rem;
  font-family: 'Gravitas One', cursive;
  font-size: 29px;
  line-height: 2.5rem;
}

.home--container p {
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 2rem;
}
