@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.quote--container {
  padding: 8rem;
  line-height: 1.5rem;
}

.quote--container h3 {
  font-family: 'Gravitas One', cursive;
  font-size: 39px;
  line-height: 2.5rem;
}

.quote--container p {
  margin: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 39px;
  font-weight: 200;
}
